/* Position kitten1 */
#kitten1 {
  position: absolute;
  top: 10px;
  left: 20px;
}

/* Position kitten2 */
#kitten2 {
  position: absolute;
  top: 30px;
  left: 40px;
}

/* Position kitten3 */
#kitten3 {
  position: absolute;
  top: 30px;
  left: 40px;
}

/* Position kitten4 */
#kitten4 {
  position: absolute;
  top: 30px;
  left: 40px;
}

/* Position kitten5 */
#kitten5 {
  position: absolute;
  top: 30px;
  left: 40px;
}
/* ...more kittens */
